@{ ViewData["Title"] = "Home Page"; }

<style>
    div
    {
        border: 1px solid green;
    }
    i{
        color:red;
    }
</style>
<br><br><br>

<div>
    <i class="glyphicon glyphicon-fire"></i>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
        <div class="col-md-4">a</div>
    </div>





    <div class="row">
        <div class="col-md-8 col-md-offset-2">A</div>
    </div>


    <div class="row">
        <div class="col-md-6">a</div>
        <div class="col-md-6">b</div>
    </div>
    <div class="row">
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
        <div class="col-xs-1">a</div>
    </div>
</div>